p {
    color: gray;
    font-size: 16px;
}
h1 {
    font-size: 52px;
}
h2 {
    font-size: 34px;
    font-weight: 600;
}

h3 {
    font-size: 28px;
    font-weight: 500;
}

h4 {
    font-size: 22px;
    font-weight: 400;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.1;
    background-color: white;
    text-align: center;
}
header {
    background-color: #004981;
    color: white;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}   

.Menu-fondo {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #004981;
}

nav ul li a:hover {
    color: rgb(79, 194, 205);
}

main {
    flex-grow: 1;
}

main ul {
    text-decoration: none;
    list-style: none;
}

main ul li {
    text-decoration: none;
    list-style: none;
}

main ul li a{
    list-style: none;
}

p {
    max-width: 500;
}

section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
}
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #f1f1f1;
    color: white;
    margin-top: 2rem;
}

button {
    border: 1px solid #004981;
    padding: 10px 15px;
    border-radius: 50px;
    color: gray;
    background-color: #ffffff;
    outline: none;
}
button:hover {
    background-color: rgb(73, 182, 192);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}
footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    background-color: #f1f1f1;
    text-align: center;
    padding: 1rem 0;
}